<!-- Footer Start -->
<html>
  <body>
    <div class="footer">
      <div class="container-fluid">
        <div class="row d-flex justify-content-between">
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h1>PHLH Boutique</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse sollicitudin rutrum massa. Suspendisse sollicitudin
                rutrum massa. Vestibulum porttitor, metus sed pretium elementum,
                nisi nibh sodales quam, non lobortis neque felis id mauris.
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h3 class="title">Quick Links</h3>
              <ul>
                <li><a href="/products">Products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/checkout">Checkout</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-widget">
              <h3 class="title">Get in Touch</h3>
              <div class="contact-info">
                <p>
                  <i class="fa fa-map-marker"></i>227 Đ. Nguyễn Văn Cừ, Phường
                  4, Quận 5, Thành phố Hồ Chí Minh
                </p>
                <p>
                  <i class="fa fa-envelope"></i>doannguyenhung2003@gmail.com
                </p>
                <p><i class="fa fa-phone"></i>+84 901306830</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                  <a href=""><i class="fa fa-instagram"></i></a>
                  <a href=""><i class="fa fa-youtube"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row payment">
          <div class="col-md-6">
            <div class="payment-method">
              <p class="fs-5">We Accept:</p>
              <img src="/img/payment-method.png" alt="Payment Method" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="payment-security">
              <p class="fs-5">Secured By:</p>
              <img src="/img/godaddy.svg" alt="Payment Security" />
              <img src="/img/norton.svg" alt="Payment Security" />
              <img src="/img/ssl.svg" alt="Payment Security" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/slick/slick.min.js"></script>
    <script
      src="https://apis.google.com/js/platform.js?onload=renderButton"
      async
      defer
    ></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>

    <script>
      $(document).ready(function () {
        function addToCart(product, quantity) {
          $.ajax({
            url: "/cart/add",
            type: "POST",
            data: { product: product, quantity: quantity },
            dataType: "json",
            success: function (response) {
              console.log(response);
            },
            error: function (error) {
              location.replace("/login");
            },
          });
        }

        $(".add-cart").submit(function (e) {
          e.preventDefault();
          addToCart(
            $(this).find("#product").val(),
            $(this).find("#quantity").val()
          );
        });
      });
    </script>
  </body>
</html>
